@import 'var';
@import 'mxn';
@import 'ia';
@import 'hex';
@import 'base';
// @import "icons";
@import 'typography';
@import 'layout';
@import 'ds';
@import 'code'; // obsolete (remap to new script)

%container {
  @include transition(200ms);
  @include mx-center;
  max-width: $site-width;
  display: block;
  padding: 0 calc($unit/2);
}

// =====≠=====≠=====≠=====≠=====≠=====≠=====≠=====≠

.pt1 {
  padding-top: $unit;
}
.pt2 {
  padding-top: $unit * 2;
}
.pt3 {
  padding-top: $unit * 3;
}
.pt4 {
  padding-top: $unit * 4;
}
.pt5 {
  padding-top: $unit * 5;
}

html {
  overflow: hidden;
  height: 100%;
  @include media-breakpoint-up(sm) {
    font-size: 53%;
  }
  font-size: 45%;
}

body {
  background-color: $base-bg;
  color: $base-color;
  position: relative;
  height: 100%;
  overflow: auto;
  font-size: 100%;

  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  color: $base-link-color;
  text-decoration: none;
  @include transition(100ms);
  &:hover {
    color: $base-link-hover;
  }
}

main {
  @extend %container;
  margin: 0 auto;
  &.NFT {
    max-width: 900px;
  }
}

.post-title {
  font-weight: normal;
  font-family: $hex-ff;
  a {
    text-decoration: none;
    font-weight: normal;
    border-bottom: 1px solid $pink;
    &:hover {
      border-bottom: 1px solid transparent;
    }
  }
}

@include selection {
  background-color: $pink-2;
  color: black;
}

// =====≠=====≠=====≠=====≠=====≠=====≠=====≠=====≠

.subscribeForm {
  display: block;
  @extend %container;
  margin: calc($unit * 2) auto;
}

.subscribeWrap {
  @include display-flex;
  input.textInput {
    flex-grow: 1;
    padding: 0.5em 0.6em;
    min-width: 100px;
  }
  button.btn {
    padding: 0.5em 1em;
  }
}

input.textInput,
button.btn {
  font-family: $hex-ff;
  font-size: to-rem(22px);
  border: none;
  @include transition(100ms);
  border-radius: 2px;
}

button.btn {
  font-weight: 500;
  background-color: $base-color;
  color: white;
  cursor: pointer;
  outline: none;
  &:hover {
    background-color: $pink;
  }
}

input.textInput {
  background-color: white;
  border: 2px solid white;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  &:hover {
    border-color: $pink !important;
  }
}

.postMeta {
  font-weight: bold;
  display: inline-block;
  font-size: $small-fs;
}

.postTag {
  font-weight: bold;
  display: inline-block;
  background-color: $n-2;
  padding: 1px 3px;
  border-radius: 2px;
  &::before {
    content: '#';
  }
}

.navBar {
  &.pink {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: white;
  }
  padding: calc($unit) 0;
  // background-color: $base-color;
}

.navLinks {
  @extend %container;
  li {
    font-size: $base-fs;
    display: inline-block;
    padding-right: $unit;
    a {
      font-family: $hex-ff;
      text-decoration: none;
      border-bottom: 1px solid $pink;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }
}

.message {
  font-size: $small-fs;
}

.siteFooter {
  padding: $unit 0;
  // > ul > li {
  //   font-size: $small-fs;
  // }
}

@include scrollbars(3px, #fff, #000);

// ----------------------------

.post-title {
  margin-top: 6px;
}
.articleList {
  padding-top: $unit * 2;
  li {
    display: block;
    margin-bottom: calc($unit * 4);
  }
}

header.postHeader {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 0;
  padding-top: 60px;
  h1 {
    margin-bottom: calc($unit/2);
  }
  text-align: center;
  padding-bottom: $unit;
  background-image: url('../public/images/g.svg');
  background-size: 200px auto;
}

h1.postTitle {
  font-family: 'hexregular';
  padding-top: $_unit/2;
  @include media-breakpoint-up(sm) {
    font-size: to-rem(50);
  }
  @include media-breakpoint-up(md) {
    font-size: to-rem(70);
  }
  @include media-breakpoint-up(lg) {
    font-size: to-rem(100);
  }
}

// not used yet
header.featured {
  padding-top: $unit;
}

// * {
//   outline: 1px solid red;
// }

a.imageLink {
  display: block;
  img {
    border: 2px solid transparent !important;
  }
  &:hover {
    img {
      border-color: $pink !important;
    }
  }
}

article {
  p a {
    border-bottom: 1px solid $pink;
  }
}